[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hera"]
	path = hera
	url = https://github.com/jupyter-xeus/xeus-r
	subdir = hera
